<div class="add-player" *ngIf="gameStart===false">
  <input placeholder="Player Name" class="form-control" [formControl]="player">
  <button type="button" class="btn btn-primary" (click)="addPlayer()">Add Player</button>
</div>

<div class="players">
  <div *ngFor="let player of players">
    <div class="player--name" [ngClass]="{'has-turn': player.hasTurn}">
      {{ player.name }}
    </div>
    <div class="player--score">
      {{ player.score}}
    </div>
  </div>

</div>

<button class="btn btn-primary" (click)="startGame()" *ngIf="gameStart===false">
  Start Game
</button>
